#content {
    background-image: url("../img/indeksBackground1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    padding: 0;
}

#content-positioner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ===== SIDEBARS ===== */
.sidebar {
    position: relative;

    min-height: 100vh;
    width: 20%;
    max-width: 300px;
    background-color: rgba(245, 232, 217, 0.6);
}

.sidebar.left {
    left: 0;
}

.sidebar.right {
    right: 0;
}

/* ==== FEED OF POSTS ===== */
#feed-of-posts {
    position: relative;

    max-width: 450px;
    width: 90%;
    padding: 20px;
    margin: 100px 0;
    
    /*style*/
    background-color: rgba(245, 232, 217, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 10px; /* Optional*/
    
}


/* TODO: picture when the like button is clicked*/

/*SELECTORS*/

.main-text + button {
    color: gray;
    margin-bottom: 10px;
}

/* Kõik postitused pärast esimest postitust */
.post:first-child ~ .post {
    margin-top: 20px;
}