#content {
    background-image: url("../img/womenBackground.png");
    background-size: cover;
}

#signup-form {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);

    /* alignment, size */
    max-width: 450px;
    width: 40%;
    min-width: 350px;

    /* styles */
    background-color: rgba(245, 232, 217, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

#inputs-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    gap: 20px;
}

#inputs-container > p {
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    margin: 0;
}

#inputs-container > p ul {
    list-style-position: inside;
    padding-left: 0;
    margin-top: 10px;
    text-align: left;
}

#inputs-container > p ul li {
  font-family: monospace, Arial, Helvetica, sans-serif; /* safe fallback */
  writing-mode: horizontal-tb;
  transform: none;
}

#inputs-container > p a:hover {
    color: #AF0101;
}

#inputs-container > input {
    height: 32px;
    width: 100%;
    font-family: "mont";
    padding: 5px;
    outline: none;
}

#inputs-container > button {
    display: inline-block;
    padding: 10px 50px;
    cursor: pointer;
    background-color: #800000;
    border-radius: 1em;
    border: none;
    color: #F5E8D9;
    font-family: "mont";
}

#inputs-container > button:hover {
    background-color: #341A0B;
    color: #B2997C;
}

#inputs-container h2 {
    display: block;
    width: 100%;
    text-align: center;
}
